<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Comments test</title>
</head>
<body>
    <div id="app">
        <form action="addComment">
            <h2 class="text-center">Add comment</h2>
            <input type="text" class="nice-input" v-model="username" placeholder="Username">
            <input type="text" class="nice-input" v-model="text" placeholder="Some text">
            <div class="code-block">
                <h2 class="text-center">How your comment looks like</h2>
                <pre>
                    comment = {
                        _id: ObjectId(),
                        username: {{username || "\'\'"}},
                        text: {{text || "\'\'"}},
                        parent_id: null,
                        date: new Date(),
                        rating: 0
                    }
                </pre>
            </div>
            <input type="button" class="event" value="Add comment" v-on:click="add_comment">
            <h2 class="text-center">Get {{ limit || 'all' }} comments</h2>
            <input type="text" class="nice-input" v-model="limit" placeholder="Number of comments">
            <input type="button" class="event" value="Get comments" v-on:click="get_comments">
            <h2 class="text-center">Delete {{ id }} comment</h2>
            <input type="text" class="nice-input" v-model="id" placeholder="Comment id">
            <input type="button" class="event" value="Delete comment" v-on:click="delete_comment">
        </form>
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
    <script>
        
        const socket = io.connect('http://localhost:3000');

        var app = new Vue({
            el: '#app',
            data: {
                username: '',
                text: '',
                limit: '',
                id: ''
            },
            methods: {
                add_comment: function(){
                    socket.emit('req', {
                        type: "add",
                        data: {
                            username: this.username,
                            text: this.text,
                            parent_id: null
                        }
                    })
                },
                get_comments: function(){
                    socket.emit('req', {
                        type: "get",
                        data: { // some settings for the comments you want to receive (optionally)
                            limit: this.limit,
                            sort_by: { date: -1 },
                            fields: ['_id', 'username', 'text'] // comment fields you need (optionally)
                        },
                    })
                },
                delete_comment: function(){
                    socket.emit('req', {
                        type: "delete",
                        data: { 
                            _id: this.id
                        },
                    })
                },
                send_json: function(){
                    
                }
            },
        });

        socket.on('isAdded', function(data){
            console.log(data);
            if (data.isAdded){
                alert('Коммент добавлен: ' + data._id);
            } else
                alert('Коммент не добавлен: ', data);
        });

        socket.on('isGot', function(data){
            console.log(data);
            alert(JSON.stringify(data));
        })
        
        socket.on('isDeleted', function(data){
            console.log(data);
            if (data.isDeleted){
                alert('Коммент удалён');
            } else
                alert(data.err);
        })

    </script>
</body>
</html>