@import "reset.css";

body {
    width: 100%;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
}


#add-comment {
    display: block;
    margin: 3rem auto 0 auto;
    padding: 0.5rem 3rem;
    font-size: 2rem;
    outline: none;
    background: #fff;
    border: 3.5px solid #33397d;
    border-radius: 0.5rem;
    color: #33397d;
}

.nice-input {
    display: block;
    margin: 1rem auto;
    padding: 0.5rem;
    border: 3.5px solid #33397d;
}

.text-center {
    text-align: center;
}

.code-block {
    margin: 1rem auto;
    width: 50%;
}